body {
  background-color: #FDEBD0
}
.container {
 margin: 0;
 background-size: cover;
 color: #2F4F4F;
 font-family: 'Pacifico';
 font-weight: 400;
 font-size: 1.2rem;
}

.box {
  background-color: #F4D03F;
}
.cover{
   margin-top: 80px;
   text-align: center;
 }

.central {
  float: left;
  width: 70%;

}
h1{
  font-size: 7rem;
  color: #884EA0;
  margin: 0 0 2rem;
  text-shadow: 5px 5px 5px rgb(93, 109, 126);
}

h2 {
  font-size: 3rem;
  font-family: 'Pacifico'
}

.parrafo {
  font-size: 1.5rem;
  font-family:'Pacifico'

}


input[type="text"]{
    width: 45%;
    height: 30px;
    border-radius: 5px;
    font-size: 15px;
    font-family: 'Pacifico', cursive;
  }

input[type="number"]{
     width: 25%;
     height: 30px;
     border-radius: 5px;
     font-size: 15px;
     font-family: 'Pacifico', cursive;
   }

input:hover{
      outline:1px;
       background: #C0C0C0;
   }

button{
      width: 160px;
      margin: 10px;
      height: 40px;
      border-radius: 6px;
      background-color:#F4D03F;
      font-size: 1.6rem;
      color: #884EA0;
      text-shadow: 2px 3px 4px rgb(93, 109, 126);
      border: none;
      padding: 5px;
      font-family: 'Pacifico', semi-bold;
    }

button:hover{
      outline: 3px;
      background-color: #C0C0C0;
      color: "#AFEEEE";
    }

footer {
      display: flex;
      justify-content: flex-end;
      padding: 0px;
      background-color: #F4D03F;
      color: #884EA0;
      font-size: 1.2rem;

    }
